@tailwind base;
@tailwind components;
@tailwind utilities;

.bannerBg {
  background-image: url(./assets/img/5.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: white;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(115, 184, 186);
  border-radius: 10px;
}

.dark {
  background-color: black;
  color: white;
}
.dark_two {
  background-color: rgb(38, 38, 38);
  color: white;
}

/*  */

.darkStroke {
  -webkit-text-stroke: 0.7px;
  -webkit-text-stroke-color: white;
  color: black;
}
.whiteStroke {
  -webkit-text-stroke: 0.7px;
  -webkit-text-stroke-color: black;
  color: white;
}

@font-face {
  font-family: lato;
  src: url(./assets/font/Lato-Regular.ttf);
}
@font-face {
  font-family: mukta;
  src: url(./assets/font/Mukta-Regular.ttf);
}
@font-face {
  font-family: one;
  src: url(./assets/font/MoiraiOne-Regular.ttf);
}
